<!-- import css-->
<link href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<!-- NProgress -->
<link href="/plugin/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="/plugin/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- Datatables -->
<link href="/plugin/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/plugin/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/plugin/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/plugin/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/plugin/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Users <small>Users list</small></h3>
            </div>
        </div>

        <!--分割页面-->
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <!--让add居左   data-toggle="modal"：标识为模态框    data-target="#addUserModal"：指定目标div-->
                        <ul class="nav navbar-right panel_toolbox" style="margin-left: 0;float: left;">
                            <button id="addUserBtn" type="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#addUserModal">Add</button>
                        </ul>

                        <div class="clearfix"></div>

                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>UserId</th>
                                            <th>UserName</th>
                                            <th>Password</th>
                                            <th>CreateDate</th>
                                            <th>Operation</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- /page content -->

<!-- 引入新增模态框页面-->
<div th:replace="account/addUser"></div>
<!-- 引入修改模态框页面-->
<div th:replace="account/updateUser"></div>

<!-- import js-->
<!-- FastClick -->
<script src="/plugin/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/plugin/nprogress/nprogress.js"></script>
<!-- iCheck -->
<script src="/plugin/iCheck/icheck.min.js"></script>
<!-- Datatables -->
<script src="/plugin/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/plugin/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/plugin/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugin/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/plugin/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/plugin/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/plugin/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/plugin/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/plugin/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/plugin/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugin/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/plugin/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

<script type="text/javascript">
    //初始显示5条数据
    var DEFAULT_PAGE_SIZE = 5;
    $(document).ready(function () {
        initUserTable(DEFAULT_PAGE_SIZE);

        //点击add按钮，调用initAddModal（）
        $("#addUserBtn").bind("click", function() {
            initAddModal();
        });

        //新增点击save changes 调用addUser（）
        $("#insertUserBtn").bind("click",function () {
            addUser();
        });

        //修改点击save changes 调用editUser（）
        $("#editUserBtn").bind("click",function () {
            editUser();
        });
    });
    //渲染table的body部分
    function initUserTable(pageSize) {
        //找到table调用DataTable（）方法
        $('#datatable').DataTable({
            'paging': true, //分页
            "serverSide": true, //开启后端分页
            "pagingType": "full_numbers", //分页样式的类型simple/simple_numbers/full/full_numbers
            "pageLength": pageSize, //定义初始的页长
            "processing": true,//加载中进度条类的刷新符号
            "destroy": true, //允许销毁替换，在表格重新查询时，可以自动销毁以前的data
            'lengthChange': true, //控制是否能够调整每页的条数
            'searching': true,//search模糊查询框
            'data-show-refresh': true,//刷新页面
            'ordering': true,//每一列排序的按钮
            'autoWidth': false,//设置每一列宽度
            "ajax": function (data, callback, settings) {
                // 从data获取查询数据   callback：回调函数   settings：设定值
                var columIndex = data.order[0].column;//找到列的下标
                var sort = data.order[0].dir;//获取排序方式
                var orderBy = data.columns[columIndex].name;//根据列的下标找到排序列名
                pageSize = data.length == undefined  ? pageSize : data.length;

                var searchVo = {};
                searchVo.currentPage = (data.start / pageSize) + 1;//start从第几条开始
                searchVo.pageSize = pageSize;
                searchVo.orderBy = orderBy;
                searchVo.sort = sort;
                searchVo.keyWord = data.search.value;

                $.ajax({
                    url : "/api/users",
                    type : "post",
                    contentType: "application/json",
                    data : JSON.stringify(searchVo),
                    success : function (rs) {
                        var fData = {
                            draw :0,//画多少行
                            recordsTotal: 0,//查询总数
                            recordsFiltered: 0,//使用过滤器以后的总数值
                            data: []//展示每一行数据的数组，一个对象一行
                        };
                        //如果为空
                        if (!rs) {
                            layer.alert("请求出错，请稍后重试" + rs.errmsg, {icon: 2});
                            callback(fData);//回调函数，渲染表格
                            return;
                        };
                        //PageInfo  list 为空的话
                        if (rs.list == null) {
                            $('#datatable tbody tr').remove();
                            $('#loading').remove();
                            callback(fData);
                            return;
                        }
                        $('#loading').remove();
                        var gearDatas = [];
                        for (var i = 0; i < rs.list.length; i++) {
                            //包装行数据
                            var rowData = new TData(rs.list[i].userId, rs.list[i].userName,
                                rs.list[i].password, rs.list[i].createDate);
                            // 将行数据放到数组里
                            gearDatas.push(rowData);
                        }
                        fData.data = gearDatas;
                        fData.recordsTotal = rs.total;
                        fData.recordsFiltered = rs.total;
                        callback(fData);
                    },
                    error : function (data) {
                        layer.alert(data.responseText, {icon: 0});
                    }
                });
            },
            "columns": [ //定义行数据字段
                //columns：每一列要展示的内容；data：返回数据的属性   sortable：是否支持排序
                {data: 'userId', name: "user_id", sortable: true},
                {data: 'userName', name: "user_name", sortable: true},
                {data: 'password', name: "password", sortable: true},
                {data: 'createDate', name: "create_date", sortable: true},
                {data: 'operate', width: '80px', sortable: false}
            ]
        });
    }
    //行数据结构
    function TData(userId, userName, password, createDate) {
        this.userId = userId;
        this.userName = userName;
        this.password = password;
        this.createDate = createDate;
        //operate代表每一行数据操作列
        this.operate = function () {
            return "<a href='#' class='btn_editcolor' data-toggle='modal' data-target='#userEditModal' " +
                "onclick='initEditModal(\"" + userId + "\")'>编辑</a>&nbsp;" +
                "<a href='javascript:void(0);' onclick='deleteUser(\"" + userId + "\")' class='btn_editcolor'>删除</a>";
        }
    }

    //打开新增模态框
    function initAddModal() {
        $("#userNameForAddPage").val("");
        $("#passwordForAddPage").val("");
        //传入rolesDiv id，设置rolesDiv中input的name为roleElementForAdd
        initRoles("rolesForAddPage", "roleElementForAdd");
    }

    //绑定save changes 点击事件，新增
    function addUser() {
        var user = {};
        user.userName = $("#userNameForAddPage").val();
        user.password = $("#passwordForAddPage").val();
        var roles = new Array();
        //取到所有add模态框勾选的roleId
        $.each($("input[name='roleElementForAdd']"),function () {
            if (this.checked){
                var role = {};
                role.roleId = $(this).val();
                roles.push(role);
            }
        });
        user.roles = roles;

        $.ajax({
            url : "/api/user",
            type : "post",
            contentType: "application/json",
            data : JSON.stringify(user),
            success : function (rs) {
                //新增成功后刷新页面
                if (rs.status = 200){
                    initUserTable(DEFAULT_PAGE_SIZE);
                }else {
                    layer.alert(rs.message,{icon:0});
                }

            },
            error : function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    //打开修改模态框
    function initEditModal(userId) {
        //传入rolesDiv id，设置rolesDiv中input的name为roleElementForEdit
        initRoles("rolesForEditPage", "roleElementForEdit");
        $.ajax({
            url : "/api/user/" + userId,
            type : "get",
            success : function (rs) {
                $("#userIdForEditPage").val(rs.userId);
                $("#userNameForEditPage").val(rs.userName);
                $("#userImgForEditPage").val(rs.userImg);
                $.each(rs.roles, function(i, item){
                    //判断后台查询到的roleId与input中的value值，如果相等则勾取
                    $("input[name='roleElementForEdit'][value=" + item.roleId + "]")
                        .attr("checked","checked");
                });
            },
            error : function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    //绑定save changes 点击事件，修改
    function editUser() {
        var user = {};
        user.userId = $("#userIdForEditPage").val();
        user.userName = $("#userNameForEditPage").val();
        user.userImg = $("#userImgForEditPage").val();
        var roles = new Array();
        //取到所有add模态框勾选的roleId
        $.each($("input[name='roleElementForEdit']"),function () {
            if (this.checked){
                var role = {};
                role.roleId = $(this).val();
                roles.push(role);
            }
        });
        user.roles = roles;

        $.ajax({
            url : "/api/update",
            type : "put",
            contentType: "application/json",
            data : JSON.stringify(user),
            success : function (rs) {
                //修改成功后刷新页面
                if (rs.status = 200){
                    initUserTable(DEFAULT_PAGE_SIZE);
                }else {
                    layer.alert(rs.message,{icon:0});
                }

            },
            error : function (data) {
                layer.alert(data.responseText, {icon: 0});
            }
        });
    }

    //绑定点击事件，删除
    function deleteUser(userId) {
        //弹出框：是否确认  result结果为true，则调用函数
        bootbox.confirm("Are you sure?", function(result) {
            if(result) {
                $.ajax({
                    url : "/api/delete/" + userId,
                    type : "delete",
                    success : function (data) {
                        if (data.status == 200) {
                            initUserTable(DEFAULT_PAGE_SIZE);
                        } else {
                            window.location.href = data.object;
                            // layer.msg(data.message, {icon: 0});
                        }
                    },
                    error : function (data) {
                        layer.msg(data.responseText, {icon: 0});
                    }
                });
            }
        });
    }
</script>